h1{
  color:red
}

a{
  color:purple
}

body{
background-color : yellow
}
h2{
text-align:center
}

span class="benefits"{
  text-align: right
}





header{
  background-color: black
}

body{
  color:white
}
